@import '../../globalStyle/variables';
@import '../../globalStyle/mixins';

.text-img-duo {
    display: flex;
    flex-direction: row-reverse;
    gap: $gap-xl;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    //margin-bottom: $margin-xxxl;

    @include bp($bp-tablet){
        flex-direction: column-reverse;
        height: fit-content;
    }

    @include bp($bp-mobile){
        gap: $gap-m;
    }

    
}

.img {
    width: 60%;
    height: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.6s $curve;
    border-radius: 100%;
    
    @include bp($bp-mobile){
        width: 100%;
        height: 100%;
    }
 


    &__round {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include bp($bp-mobile){
            border-radius: 100%;
        }
    }

    &__square {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include bp($bp-mobile){
            height: 500px;
        }
    }
}

.img__halfpage {
    width: 50%;
    height: 100%;

    @include bp($bp-tablet){
        width: 100%;
        height: 100%;
    }


    &__round {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__square {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    width: 50%;
    
}

.main__title {
    margin-bottom: $margin-m;
    font-size: $font-size-extra-large;
}

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;

    @include bp($bp-tablet){
        width: 100%;
        height: 100%;
        gap: $gap-xl;
    }
}