@import '../../globalStyle/variables';

.btn {
    padding: $padding-xxs $padding-xs $padding-xxs $padding-xs;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    border-radius: $border-radius-m;
    font-size: $font-size-small;
    display: flex;
    gap: $padding-xxs;
    max-width: fit-content;
    font-weight: $font-weight-medium;

    &__primary {
        background-color: $color-mediumGreen;
        border: solid 1px $color-darkerGreen;
        color: $color-lightBeige;

        &:hover {
            background-color: $color-darkGreen;
            color: $color-lightBeige;
        }
        
    }

    &__secondary {
        background-color: $color-lighterMustard;
        border: solid 1px $color-mediumMustard;
        color: $color-darkerGreen;

        &:hover {
            background-color: $color-lightMustard;
            color: $color-darkerGreen;
        }
    }

    &__tag {
        border: solid 1px $color-mediumGreen;
        color: $color-darkGreen;  
    }

    &__portfolio {
        color: $color-darkGreen;
        text-decoration: underline;
        
        &:hover {
            color: $color-lightGreen;
        }
    }


}

.btn_flexbox {
    display: flex;

}