@import '../../globalStyle/variables';
@import '../../globalStyle/mixins';

.main__container {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
    width: 33.33%;
    //padding: 0 $padding-m 0 $padding-m;

    @include bp($bp-tablet){
        width: 100%;
       // padding: 0;
        height: fit-content;
    }
}

.title {
    text-transform: uppercase;
    border-bottom: solid 1.5px $color-darkerGreen;
    padding-bottom: $padding-s;
}

.main__text {
    font-size: $font-size-x-medium;
}