@import '../../globalStyle/variables';

.btn {
    padding: $padding-xxs $padding-xs $padding-xxs $padding-xs;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    border-radius: $border-radius-s;
    font-size: $font-size-normal;
    display: flex;
    gap: $padding-xxs;
    max-width: fit-content;
    font-weight: $font-weight-medium;
    text-decoration: none;
    cursor: pointer;


    &__primary {
        background-color: $color-mediumGreen;
        border: solid 1px $color-darkerGreen;
        color: $color-lightBeige;
        text-decoration: none;

        &:hover {
            background-color: $color-darkGreen;
            color: $color-lightBeige;
        }
        
    }

    &__secondary {
        background-color: $color-lighterMustard;
        border: solid 1px $color-mediumMustard;
        color: $color-darkerGreen;
        text-decoration: none;

        &__topbar__left {
            border-radius: $border-radius-s 0 0 $border-radius-s;
        }

        &__topbar__middle {
            border-radius: 0 0 0 0;
        }

        &__topbar__right {
            border-radius: 0 $border-radius-s $border-radius-s 0;
        }

        &:hover {
            background-color: $color-lightMustard;
            color: $color-darkerGreen;
        }
    }

    &__tag {
        border: solid 1px $color-mediumGreen;
        color: $color-darkGreen;  
        font-size: $font-size-medium;

        &__size-small {
            font-size: $font-size-small;
        }

        
    }

    &__portfolio {
        color: $color-darkGreen;
        text-decoration: underline;
        
        &:hover {
            color: $color-lightGreen;
        }
    }

    &__principles {
        background-color:$color-lighterBeige;
        color: $color-darkGreen;  
        font-size: $font-size-small;
        flex-direction: row-reverse;
        padding: $padding-m $padding-l $padding-m $padding-l;
        
    }


}

