@import '../../globalStyle/variables';
@import '../../globalStyle/mixins';


.space__text__block {
    display: flex;
    width: 100%;
    justify-content: flex-end;    
    
}

.text__block {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: $gap-m;

    @include bp($bp-mobile){
        width: 100%;
        
    }
}

.btn__to-the-right {
    display: flex;
    justify-content: flex-end;

    @include bp($bp-mobile){
        justify-content: flex-start;
    }
}

.p__gap {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
}