
@import '../../globalStyle/variables';
.topbar {
    display: flex;
    position: fixed;
    padding: $padding-xs;
    gap: $gap-xxs;
    z-index: 1;

    &__close {
        display: none;
      }

    @media (max-width: 750px) {
    position: fixed;
    flex-direction: column;
    background: $color-lighterMustard;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    gap: $gap-l;
    flex-wrap: wrap;

    &__show {
      transform: translateX(0);
    }

    &__close {
      display: flex;
      color: $color-darkerGreen;
      border: none;
      background: none;
      padding: $padding-m;
      justify-content: flex-end;
    }
  }
}

.show__menu {
    display: none;
  
    @media (max-width: 750px) {
      display: flex;
      margin-right: $margin-s;
      position: fixed;
    }
  }

  .hamburger__menu {
    background-color: $color-lighterMustard;
    border: solid 1px $color-lightMustard;
    border-radius: 100%;
    margin-right: $margin-s;
  }

.nav__btn {
    padding: $padding-xxs $padding-xs $padding-xxs $padding-xs;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-small;
    display: flex;
    gap: $padding-xxs;
    max-width: fit-content;
    font-weight: $font-weight-medium;

    &__middle {
        background-color: $color-lighterMustard;
        border: solid 1px $color-lightMustard;
        color: $color-darkerGreen;

        &:hover {
            background-color: $color-lightMustard;
            color: $color-darkerGreen;
        }
        
    }

    &__left {
        background-color: $color-lighterMustard;
        border: solid 1px $color-lightMustard;
        color: $color-darkerGreen;
        border-radius: 50px 0 0 50px;

        &:hover {
            background-color: $color-lightMustard;
            color: $color-darkerGreen;
        }
        
    }

    &__right {
        background-color: $color-lighterMustard;
        border: solid 1px $color-lightMustard;
        color: $color-darkerGreen;
        border-radius: 0 50px 50px 0;

        &:hover {
            background-color: $color-lightMustard;
            color: $color-darkerGreen;
        }
        
    }
}