@import '../../globalStyle/variables';
@import '../../globalStyle/mixins';

.project__main {
    display: flex;
    flex-direction: column;
    margin: $margin-xxl $margin-xl $margin-xxl $margin-xl;
    gap: $gap-xxxl;

    @include bp($bp-mobile){
        width: 100%;
        height: fit-content;
        margin-top: $margin-xl;
        // gap: $gap-xxl;
    }
}

.trio__block {
    display: flex;
    gap: $gap-xl;
    flex-grow: 1;
    
    @include bp($bp-laptop){
        flex-direction: column;

    }

    @include bp($bp-tablet){
        flex-direction: column;
    }
}

.full-page-image-container {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    width: 100%;  
    align-items: center;

    @include bp($bp-mobile){
        gap: $gap-s;
    }
}

.full-page-image {
    width: 100%; 
    height: fit-content; 
    //background-color: aquamarine;
    object-fit: cover;

    @include bp($bp-mobile){
        width: 100%;
        //height: 500px;
    }
}

.img_projects {
    width: 100%;
}