@import '../../globalStyle/variables';


.rouded-container {
    background-color: $color-lighterMustard;
    border-radius: $border-radius-xxxl;
    max-width: 1200px;
    min-width: 840px;
    height: fit-content;
    padding: $padding-xxxl $padding-xl $padding-xl $padding-xxl;
    margin-left: auto;
    margin-right: auto;
    
    &__top {
        border-radius: $border-radius-xxxl $border-radius-xxxl 0 0 ;

    }

    &__middle {
        border-radius:  0 0 0 0;
        padding: $padding-xl $padding-xl $padding-l $padding-xl;
        //margin-top: $margin-xxl;
        background-color: $color-mediumBeige;
    }


    &__bottom {
        border-radius:  0 0 $border-radius-xxxl $border-radius-xxxl;
        padding: $padding-xl $padding-xl $padding-xxxl $padding-xxl;
        margin-top: $margin-xxl;
    }


}

.content {
    max-width: 800px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: $gap-xl;

}
.principles__container {
    display: flex;
    gap: $gap-l;
    justify-content: center;
}


.principles__subcontainer {
    display: flex;
    flex-direction: column;
    gap: $gap-l;
    width: 380px;
}

.principles__container__dont-show {
    display: none;
}


.show {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
}

.dont-show {
    display: none;
}

.social__btns {
    display: flex;
    gap: $gap-s;
}

