
body {
    background-color: $color-mediumBeige;
    font-family: $font-family-primary;
    padding: 36px 12px 36px 12px;

  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    //background-color: lightpink;
  }
  
  