@import './mixins';

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;

}

h1 {
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;

    @include bp($bp-mobile){
        font-size: $font-size-large;
        
    }
}

h2 {
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;

    @include bp($bp-mobile){
        font-size: $font-size-large;
        
    }
}

h3 {
    font-family: $font-family-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;

    @include bp($bp-mobile){
        font-size: $font-size-normal;
        
    }
    
}

h4 {
    font-family: $font-family-primary;
    font-size: $font-size-x-medium;
    font-weight: $font-weight-medium;
    
    @include bp($bp-mobile){
        font-size: $font-size-normal;
        
    }
}

p {
    font-family: $font-family-primary;
    font-size: $font-size-normal;  
    margin: 0;

    @include bp($bp-mobile){
        font-size: $font-size-small;  
    }
}