//Aquí se importan todos los archivos sueltos de scss
@import './variables';
@import './main';
@import './typography';
@import './lists';
@import './grid';
@import './mixins';


body {

    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: $color-mediumBeige;
    font-family: $font-family-primary;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: $color-mediumBeige;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: $gap-l;
    // padding: $padding-l;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    @include bp($bp-tablet){
      margin-left: $margin-m;
      margin-right: $margin-m;
  }

    @include bp($bp-mobile){
      margin-left: $margin-s;
      margin-right: $margin-s;
  }

}
  