
@import '../../globalStyle/variables';

.header {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    margin: $margin-xxl auto 0 auto;
    align-items: center;
    height: 60vh;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: $font-size-extra-large;
}