@import '../../globalStyle/GlobalStyle.scss';
@import '../../globalStyle/mixins';

.left__div {
    display: none;
    height: 100vh;
    width: 18%;
    background-color: $color-lighterMustard;
    position:fixed;
    padding-bottom: $padding-s;
    //display: flex;
    flex-direction: column;
    gap: $gap-m;
    // align-items: center;
}


.right__div {
    width: 100%;
    //background-color: $color-lighterMustard;
    padding: $padding-l 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $margin-xxl auto $margin-xxl auto;
    gap: $gap-xxxl;

    @include bp($bp-mobile){
        flex-direction: column;
        margin: $margin-l auto $margin-xxl auto;
        gap: $gap-xxl;
    }
}

.about__display {
    display: flex;
    margin: 0;
    padding: 0;
    //background-color: $color-lighterMustard;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img {
    height: 100%;
    width: 100%;
    
}

.name {
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    color: $color-darkerGreen;
}
.name__location {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;
    padding: 0 $padding-s 0 $padding-s;
    color: $color-darkerGreen;
    font-family: $font-size-small;
    // align-items: center;
    
}

.idiomas__container {
    width: calc(100% - 48px);
    display: flex;
    gap: $gap-s;
    flex-direction: column;
    padding: 0 $padding-s 0 $padding-s ;
}


.text__cv__border {
    color: $color-darkerGreen;
    // background-color: $color-darkGreen;
    padding: 0 0 $padding-xs 0;
    border-bottom: solid 1.5px $color-darkerGreen;
    width: 100%;
    font-size: $font-size-extra-small;
    // text-align: center;
    
}

.idiomas {
    display: flex;
    gap: $gap-xxs;
    flex-direction: column;
    // text-align: center;
    // align-items: center;
    
}

.btn__linkedin {
    margin-top: $margin-s;
}

.studies {
    display: flex;
    flex-direction: column;
    gap: $gap-xxl;
    align-items: center;
}
.img-hello-decription {
    display: flex;
    flex-direction: row-reverse;
    gap: $gap-xl;
    align-items: center;
    //margin-bottom: $margin-xxxl;
    width: 100%;

    @include bp($bp-laptop){
        flex-direction: column;
        
    }

    
}

.img {
    width: 60%;
    height: 60%;
}

.img__round {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hello-description {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    width: 100%;

    @include bp($bp-mobile){
        align-items: center;
        text-align: center;
        
    }

    &__inner {
        gap: $gap-m;
        width: 100%;
    }


}

.experience {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
    align-items: center;

}

.experience__subcontainer {
    display: flex;
    gap: $gap-m;
    margin-top: $margin-l;

    @include bp($bp-laptop){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include bp($bp-tablet){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @include bp($bp-mobile){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.languajes__trio {
    display:flex;
    width: 100%;
    height: 450px;
    gap: $gap-m;
    //justify-content: space-between;

    @include bp($bp-large-screen){
        flex-direction: column;
        height: fit-content;
        width: 100%;
        
    }
}

.secondary__typography__large {
    font-family: $font-family-secondary;
    font-size: $font-size-large;

    @include bp($bp-tablet){
        font-size: $font-size-x-medium;
        
    }
    
}

.languajes__spanish {
    height: 80%;
    background-color: $color-darkGreen;
    border-radius: 0 0 $border-radius-m  0;
    //padding: $padding-l;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;

    @include bp($bp-large-screen){
        width: 100%;
        
    }
}

.padding {
    padding: $padding-l;
}

.languajes__english {
    height: 60%;
    background-color: $color-mediumGreen;
    border-radius: 0 0 $border-radius-m  0;
    padding-bottom: $padding-s;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;

    @include bp($bp-large-screen){
        width: 80%;
        
    }
}

.languajes__italian {
    //display: flex;
    flex-direction: column;
    height: 30%;
    background-color: $color-lightGreen;
    border-radius: 0 0 $border-radius-m  0;
    padding-bottom: $padding-l;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;
    //gap: $gap-xs;

    @include bp($bp-large-screen){
        width: 50%;  
    }

    @include bp($bp-mobile){
        width: 60%;  
    }
}

.circle-1 {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: $color-lighterMustard;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include bp($bp-mobile){
        width: 170px;
        height: 170px; 
    }
}

.circle-main {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: $color-lighterMustard;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;

    

    @include bp($bp-larger-screen){
        margin-bottom: $margin-xl;
        
        
    }

    @include bp($bp-tablet){
        flex-direction: row;
        
        
    }

    @include bp($bp-mobile){
        width: 300px;
        height: 300px; 
        margin-bottom: $margin-l;
    }
}

.circle-duo-1 {
    display: flex;
    flex-direction: column;
    gap: $gap-m;

    @include bp($bp-larger-screen){
        flex-direction: row;
    }

    @include bp($bp-tablet){
        flex-direction: row; 
    }

    @include bp($bp-mobile){
        gap: $gap-xs; 
    }
}

.soft-skills {
    display: flex;
    align-items: center;


    
    @include bp($bp-larger-screen){
        flex-direction: column;
        
        
    }

    @include bp($bp-laptop){
        flex-direction: column;
        
        
    }
    
}

.column__revese__sub {
    display: flex;
    //flex-direction: column;
    align-items: center;
    gap: $gap-m;

    @include bp($bp-larger-screen){
        //flex-direction: column-reverse;
 
     }
     @include bp($bp-laptop){
        flex-direction: column-reverse;
       
       
    }

     @include bp($bp-tablet){
         flex-direction: column-reverse; 
     }

     @include bp($bp-mobile){
        gap: 0;
    }
    
}


.column__revese {
    display: flex;
    //flex-direction: column;
    align-items: center;

    @include bp($bp-larger-screen){
        flex-direction: column-reverse;
 
     }

     @include bp($bp-tablet){
         flex-direction: column-reverse;
        
        
     }
}

.hard-skills {
    display:flex;
    width: 100%;
    gap: $gap-xl;

    @include bp($bp-tablet){
        flex-direction: column; 
    }
    
}

.hard-skills-icons {
    display: flex;
    gap: $gap-s;
    width: calc(100%/3);
}

.hard-skills-icons__container {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
}

.hard-skills__container {
    display: flex;
    flex-direction: column;
    gap: $gap-l;

}