@import '../../globalStyle/variables';


.left__div {
    display: none;
    height: 100vh;
    width: 18%;
    background-color: $color-lighterMustard;
    position:fixed;
    padding-bottom: $padding-s;
    //display: flex;
    flex-direction: column;
    gap: $gap-m;
    // align-items: center;
}


.right__div {
    width: 75%;
    background-color: $color-lighterMustard;
    padding: $padding-l 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $margin-xxl auto $margin-xxl auto;
    gap: $gap-xxxl;
    
}

.about__display {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: $color-lighterMustard;
}

.img {
    height: 100%;
    width: 100%;
    
}

.name {
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    color: $color-darkerGreen;
}
.name__location {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;
    padding: 0 $padding-s 0 $padding-s;
    color: $color-darkerGreen;
    font-family: $font-size-small;
    // align-items: center;
    
}

.idiomas__container {
    width: calc(100% - 48px);
    display: flex;
    gap: $gap-s;
    flex-direction: column;
    padding: 0 $padding-s 0 $padding-s ;
}


.text__cv__border {
    color: $color-darkerGreen;
    // background-color: $color-darkGreen;
    padding: 0 0 $padding-xs 0;
    border-bottom: solid 1.5px $color-darkerGreen;
    width: 100%;
    font-size: $font-size-extra-small;
    // text-align: center;
    
}

.idiomas {
    display: flex;
    gap: $gap-xxs;
    flex-direction: column;
    // text-align: center;
    // align-items: center;
    
}

.btn__linkedin {
    margin-top: $margin-s;
}

.studies {
    display: flex;
    flex-direction: column;
    gap: $gap-xxl;
    align-items: center;
}
.img-hello-decription {
    display: flex;
    flex-direction: row-reverse;
    gap: $gap-xl;
    align-items: center;
    //margin-bottom: $margin-xxxl;
}

.img {
    width: 380px;
    height: 380px;
}

.img__round {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hello-description {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    width: 60%;

    &__inner {
        gap: $gap-m;
        width: 100%;
    }
}

.experience {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
    align-items: center;

}

.experience__subcontainer {
    display: flex;
    gap: $gap-m;
    margin-top: $margin-l;
}


.languajes__trio {
    display:flex;
    width: 100%;
    height: 450px;
    gap: $gap-m;
    //justify-content: space-between;
}

.secondary__typography__large {
    font-family: $font-family-secondary;
    font-size: $font-size-large;
}

.languajes__spanish {
    height: 80%;
    background-color: $color-darkGreen;
    border-radius: 0 0 $border-radius-m  0;
    padding: $padding-l;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;
}



.languajes__english {
    height: 60%;
    background-color: $color-mediumGreen;
    border-radius: 0 0 $border-radius-m  0;
    padding: $padding-l;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;
}

.languajes__italian {
    //display: flex;
    flex-direction: column;
    height: 30%;
    background-color: $color-lightGreen;
    border-radius: 0 0 $border-radius-m  0;
    padding: $padding-l;
    justify-content: center;
    color: $color-lighterMustard;
    width: calc(100%/3);
    font-size: $font-size-medium;
    //gap: $gap-xs;
}

.circle-1 {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: $color-mediumBeige;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.circle-main {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: $color-mediumBeige;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;
}

.circle-duo-1 {
    display: flex;
    flex-direction: column;
}

.soft-skills {
    display: flex;
    align-items: center;
}

.hard-skills {
    display:flex;
    width: 100%;
    gap: $gap-l;

    
}

.hard-skills-icons {
    display: flex;
    gap: $gap-s;
    width: calc(100%/3);
}

.hard-skills__container {
    display: flex;
    flex-direction: column;
    gap: $gap-l;

}