@import '../../globalStyle/GlobalStyle.scss';
@import '../../globalStyle/mixins';


.projects {
    display: flex;
    flex-direction: column;
    //gap: $gap-xl;
    align-items: center;
}

.seccion__title {
    margin-top: $margin-xxl;
    margin-bottom: $margin-l;
    align-self: center;
}

.img__duo {
    display: flex;
    gap: $gap-xxl;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
    justify-content: center;

    @include bp($bp-mobile){
        gap: $gap-xl;
        flex-direction: column;
        margin-left: $margin-s;
        margin-right: $margin-s;
        align-items: center;
        
    }
}

.img__one {
    width: 450px;
    height: 500px;
    object-fit: cover;
    transform: rotate(-15deg);

    @media all and (max-width: 1200px) {
        width: 360px;
        height: 400px;
    }

    @include bp($bp-laptop){
        width: 260px;
        height: 300px;
        
    }

    @include bp($bp-tablet){
        width: 260px;
        height: 300px;
        
    }

    @include bp($bp-mobile){
        width: 240px;
        height: 280px;
        
    }
}


.img__two {
    width: 450px;
    height: 400px;
    object-fit: cover;
    transform: rotate(5deg);

    @media all and (max-width: 1200px) {
        width: 360px;
        height: 400px;
    }

    @include bp($bp-laptop){
        width: 260px;
        height: 300px;
        
    }

    @include bp($bp-tablet){
        width: 260px;
        height: 300px;
        
    }

    @include bp($bp-mobile){
        width: 240px;
        height: 280px;
        
    }


}