@import './globalStyle/variables';

#root {
    width: 100%;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    color: $color-darkerGreen;
    margin-left: 0;
    margin-right: 0;
    padding: $padding-s $padding-l;
    justify-content: center;
    text-align: center;
}

.footer__link {
    color: $color-darkerGreen;
}