@import '../../globalStyle/variables';

.icon-circle {
    border-radius: $border-radius-s;
    max-width: fit-content;
    background-color: $color-lightMustard;
    padding: 7.5px 10.5px;
}

.icon__dont-show {
    display: none;
}